@charset "UTF-8";

.not-find {
    background: url(../../img/blindwhile.jpeg) no-repeat;
    background-size: cover;
}

.not-find .bg {
    height: 1200px;
    background-color: rgba(0, 0, 0, .8);
    margin-bottom: -110px;
}

.not-find .bg .msg {
    line-height: 2;
    position: absolute;
    width: 100%;
    font-size: 30px;
    top: 40%;
    left: 0;
    text-align: center;
    color: #fff;
}

.not-find .bg a {
    background-color: hsla(0, 0%, 100%, .1);
    position: absolute;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 160px;
    bottom: 20vh;
    left: 50%;
    margin-left: -80px;
    border: 1px solid #fff;
    color: #fff;
}