<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.AdminMapper">

	<resultMap id="memberMap" type="com.hotel.domain.MemberVO">
		<id column="mi_id" property="miId" />
		<result column="mi_pw" property="miPw" />
		<result column="mi_name" property="miName" />
		<result column="mi_gender" property="miGender" />
		<result column="mi_birth" property="miBirth" />
		<result column="mi_phone" property="miPhone" />
		<result column="mi_isad" property="miIsad" />
		<result column="mi_date" property="miDate" />
		<result column="mi_enabled" property="miEnabled" />
	</resultMap>

	<!-- 회원 목록 페이징 조회 -->
	<select id="selectMembersWithPaging" resultMap="memberMap">
		SELECT * FROM
		t_member_info
		ORDER BY mi_date DESC
		OFFSET #{pageStart} ROWS FETCH NEXT
		#{perPageNum} ROWS ONLY
	</select>

	<!-- 전체 회원 수 -->
	<select id="getTotalMemberCount" resultType="int">
		SELECT COUNT(*) FROM
		t_member_info
	</select>

	<!-- 대시보드 - home 카테고리 제목 -->
	<select id="getAllCategoryTopDetails"
		resultType="com.hotel.domain.RecommendCategoryVO">
		SELECT rc_detail_top AS rcDetailTop
		FROM
		t_recommend_category
		WHERE rc_detail_top IS NOT NULL
	</select>

	<!-- 대시보드 - 검색 키워드 -->
	<select id="getRecommendKeyword"
		resultType="com.hotel.domain.RecommendCategoryVO">
		SELECT
		rc.rc_name AS rcName,
		COUNT(sr.si_id) AS siNum
		FROM
		t_recommend_category rc
		LEFT JOIN
		t_stay_recommend sr ON rc.rc_id =
		sr.rc_id
		WHERE
		rc.rc_name IS NOT NULL
		GROUP BY
		rc.rc_name
	</select>

	<!-- 예약 현황 그래프 -->
	<select id="getReservationStats"
		resultType="com.hotel.domain.ReservationStatsDTO">
	<![CDATA[
		SELECT
			COUNT(*) AS totalCount,
			COUNT(CASE WHEN sr_status = 'a' AND sr_checkout > SYSDATE THEN 1 END) AS inProgressCount,
			COUNT(CASE WHEN sr_status = 'a' AND sr_checkout <= SYSDATE THEN 1 END) AS completedCount,
			COUNT(CASE WHEN sr_status = 'c' THEN 1 END) AS canceledCount
		FROM t_stay_reservation
		WHERE sr_status IN ('a', 'c')
	]]>
	</select>

	<!-- 회원, 비회원 예약 비율 -->
	<select id="getMemberVsGuestRatio" resultType="map">
		SELECT
		COUNT(CASE WHEN mi_id IS NOT NULL THEN 1 END) AS memberCount,
		COUNT(CASE WHEN mi_id IS NULL THEN 1 END) AS guestCount
		FROM t_stay_reservation
		WHERE sr_status = 'a' -- 예약 완료된 건만
	</select>

	<!-- 예약 취소 비율 -->
	<select id="getReservationCancelRate" resultType="double">
		SELECT
		ROUND(
		(COUNT(CASE WHEN sr_status = 'c' THEN 1 END) * 1.0) /
		NULLIF(COUNT(CASE WHEN sr_status IN ('a', 'c') THEN 1 END), 0)
		* 100, 1
		) AS cancelRate
		FROM t_stay_reservation
	</select>

	<!-- 지역 별 숙소 현황 그래프 -->
	<select id="getStayCountByRegion"
		resultType="com.hotel.domain.LocationCategoryVO">
		SELECT
		l.lc_id AS lcId,
		l.lc_name AS lcName,
		COUNT(s.si_id) AS
		count
		FROM
		t_location_category l
		LEFT JOIN
		t_stay_info s ON l.lc_id =
		s.lc_id AND s.si_show = '1'
		GROUP BY
		l.lc_id, l.lc_name
		ORDER BY
		l.lc_id
	</select>

	<!-- 예약 많은 숙소 top 5 -->
	<select id="getTopReservedStays"
		resultType="com.hotel.domain.StayVO">
		SELECT
		s.si_id AS siId,
		s.si_name AS siName,
		s.si_loca AS
		siLoca,
		COUNT(r.sr_id) AS
		reserveCount
		FROM t_stay_info s
		JOIN
		t_stay_reservation r ON s.si_id =
		r.si_id
		WHERE r.sr_status = 'a'
		GROUP BY s.si_id, s.si_name, s.si_loca
		ORDER BY reserveCount DESC
		FETCH FIRST 5 ROWS ONLY
	</select>

	<!-- 북마크 top 5 -->
	<select id="getTopBookmarkedStays"
		resultType="com.hotel.domain.StayVO">
		SELECT
		si_id AS siId,
		si_name AS siName,
		si_book AS siBook
		FROM t_stay_info
		WHERE si_show = '1'
		ORDER BY si_book DESC
		FETCH FIRST 5
		ROWS ONLY
	</select>

</mapper>
