<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.CommonMapper">

	<select id="read" resultType="com.hotel.domain.MemberVO">
		select * 
		from t_member_info 
		where mi_id = #{mi_id}
	</select>

</mapper>