<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.CommonMapper">

	<resultMap id="memberMap" type="com.hotel.domain.MemberVO">
		<id column="mi_id" property="miId" />
		<result column="mi_pw" property="miPw" />
		<result column="mi_name" property="miName" />
		<result column="mi_gender" property="miGender" />
		<result column="mi_birth" property="miBirth" />
		<result column="mi_phone" property="miPhone" />
		<result column="mi_isad" property="miIsad" />
		<result column="mi_date" property="miDate" />
		<result column="mi_enabled" property="miEnabled" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		select * 
		from t_member_info 
		where mi_id = #{miId}
	</select>
	
	<select id="countByEmail" resultType="int">
		select count(*) 
		from t_member_info 
		where mi_id = #{email}
	</select>
	
	<select id="countByPhone" resultType="int">
		select count(*) 
		from t_member_info 
		where mi_phone = #{phone}
	</select>
	
	<insert id="handleRegister">
		insert into t_member_info (mi_id, mi_pw, mi_name, mi_phone, mi_isad) 
		values (#{miId}, #{miPw}, #{miName}, #{miPhone}, 
			<choose>
      			<when test="miIsad"> '1' </when>
      			<otherwise> '0' </otherwise>
    		</choose>
		)
	</insert>

</mapper>