<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.RecommendMapper">

	<select id="getRecommendTitle" resultType="String">
		SELECT rc_detail_top
		|| ' - ' || rc_detail_bottom
		FROM t_recommend_category
		WHERE rc_id =
		#{rc_id}
	</select>


	<select id="getRecommend" resultType="com.hotel.domain.StayVO">
		SELECT
		s.si_id AS siId,
		s.si_name AS siName,
		s.si_loca AS siLoca,
		s.si_minperson AS siMinperson,
		s.si_minprice AS siMinprice,
		ROUND((1 - s.si_discount) * s.si_minprice)
		AS discountedPrice,
		s.si_discount * 100 AS discount,
		s.si_maxperson AS
		siMaxperson,
		sp.sp_url AS spUrl
		FROM (
		SELECT sr.si_id, sr.sr_idx
		FROM
		t_stay_recommend sr
		WHERE sr.rc_id = #{rc_id}
		ORDER BY sr.sr_idx
		) r
		JOIN
		t_stay_info s ON s.si_id = r.si_id
		LEFT OUTER JOIN (
		SELECT si_id,
		sp_url FROM (
		SELECT si_id, sp_url,
		ROW_NUMBER() OVER (PARTITION BY
		si_id ORDER BY sp_idx) AS rn
		FROM t_stay_photo
		WHERE ri_id IS NULL
		)
		WHERE rn = 1
		) sp ON s.si_id = sp.si_id
		ORDER BY r.sr_idx
	</select>


</mapper>
