<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.ReservationMapper">
	<!-- 예약 페이지 -->
	<resultMap id="reservationPageMap"
		type="com.hotel.domain.ReservationPageVO">
		<result property="riId" column="ri_id" />
		<result property="riName" column="ri_name" />
		<result property="riType" column="ri_type" />
		<result property="riPerson" column="ri_person" />
		<result property="riMaxperson" column="ri_maxperson" />
		<result property="riBed" column="ri_bed" />
		<result property="riBedcnt" column="ri_bedcnt" />
		<result property="riBedroom" column="ri_bedroom" />
		<result property="riBathroom" column="ri_bathroom" />
		<result property="siId" column="si_id" />
		<result property="siName" column="si_name" />
		<result property="siPeak" column="si_peak" />
		<result property="siOff" column="si_off" />
		<result property="siDiscount" column="si_discount" />
		<result property="miId" column="mi_id" />
		<result property="miName" column="mi_name" />
		<result property="miPhone" column="mi_phone" />
		<result property="siCheckin" column="si_checkin" />
		<result property="siCheckout" column="si_checkout" />
		<result property="siName" column="si_name" />
		<result property="spUrl" column="sp_url" />
	</resultMap>

	<select id="getReservationPageInfo"
		resultMap="reservationPageMap">
		SELECT
		r.ri_id,
		r.ri_type,
		r.ri_name,
		r.ri_person,
		r.ri_maxperson,
		r.ri_bed,
		r.ri_bedcnt,
		r.ri_bedroom,
		r.ri_bathroom,

		s.si_id,
		s.si_name,
		s.si_peak,
		s.si_off,
		s.si_discount,

		d.si_checkin,
		d.si_checkout,

		m.mi_id,
		m.mi_name,
		m.mi_phone,

		rp.sp_url

		FROM t_room_info r
		JOIN t_stay_info s ON r.si_id = s.si_id
		JOIN t_stay_info_detail d ON s.si_id = d.si_id
		JOIN t_room_photo rp ON r.si_id = rp.si_id AND r.ri_id = rp.ri_id AND
		rp.sp_idx = 0

		<choose>
			<when test="miId != null">
				LEFT JOIN t_member_info m ON m.mi_id = #{miId}
			</when>
			<otherwise>
				LEFT JOIN t_member_info m ON 1 = 0
			</otherwise>
		</choose>

		WHERE r.ri_id = #{riId}
		AND s.si_id = #{siId}
	</select>

	<!-- 예약 db insert -->
	<insert id="insertReservation"
		parameterType="com.hotel.domain.ReservationCreateDTO">
		<selectKey resultType="string" keyProperty="srId"
			order="BEFORE">
			SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' ||
			LPAD(seq_booking_no.NEXTVAL,
			6, '0') AS sr_id FROM dual

		</selectKey>


		INSERT INTO t_stay_reservation (
		sr_id, si_id, ri_id, mi_id, sr_name,
		sr_email, sr_phone,
		sr_request, sr_date, sr_adult, sr_child,
		sr_checkin, sr_checkout, sr_roomprice, sr_discount,
		sr_addperson_fee,
		sr_totalprice, sr_payment, sr_paydate, sr_status,sr_paymentstatus
		)
		VALUES (
		#{srId},
		#{siId}, #{riId}, #{miId,jdbcType=VARCHAR}, #{srName},
		#{srEmail,jdbcType=VARCHAR}, #{srPhone},
		#{srRequest,jdbcType=CLOB},
		SYSDATE, #{srAdult}, #{srChild},
		#{srCheckin}, #{srCheckout},
		#{srRoomprice}, #{srDiscount},
		#{srAddpersonFee}, #{srTotalprice},
		#{srPayment}, SYSDATE, #{srStatus},
		#{srPaymentstatus,jdbcType=VARCHAR}
		)
	</insert>
	<!-- 예약 후 페이지 -->
	<resultMap id="reservationDetailMap"
		type="com.hotel.domain.ReservationDetailVO">
		<result property="riId" column="ri_id" />
		<result property="riName" column="ri_name" />
		<result property="riType" column="ri_type" />
		<result property="riPerson" column="ri_person" />
		<result property="riMaxperson" column="ri_maxperson" />
		<result property="riDesc" column="ri_desc" />

		<result property="srId" column="sr_id" />
		<result property="siId" column="si_id" />
		<result property="miId" column="mi_id" />
		<result property="siAddress" column="si_address" />
		<result property="siPhone" column="si_phone" />
		<result property="siEmail" column="si_email" />

		<result property="spUrl" column="sp_url" />

		<result property="srStatus" column="sr_status" />
		<result property="srAdult" column="sr_adult" />
		<result property="srChild" column="sr_child" />
		<result column="sr_checkin" property="srCheckin" jdbcType="TIMESTAMP"/>
		<result column="sr_checkout" property="srCheckout" jdbcType="TIMESTAMP"/>
		<result property="srRequest" column="sr_request" />
		<result property="srDate" column="sr_date" />
		<result property="srTotalprice" column="sr_totalprice" />
		<result property="srDiscount" column="sr_discount" />
		<result property="srPayment" column="sr_payment" />
		<result property="srPaydate" column="sr_paydate" />
		<result property="srCancelDate" column="sr_cancledate" />
	</resultMap>


	<select id="selectReservationById"
		resultMap="reservationDetailMap">
		SELECT
		r.ri_name,
		r.ri_type,
		r.ri_person,
		r.ri_maxperson,
		r.ri_desc,

		sr.sr_id,
		sr.ri_id,
		sr.mi_id,
		sid.si_id,
		sid.si_address,
		sid.si_phone,
		sid.si_email,

		rp.sp_url,

		sr.sr_status,
		sr.sr_adult,
		sr.sr_child,
		sr.sr_checkin,
		sr.sr_checkout,
		sr.sr_request,
		sr.sr_totalprice,
		sr.sr_discount,
		sr.sr_payment,

		sr.sr_paydate,
		sr.sr_date,
		sr.sr_cancledate

		FROM t_stay_reservation sr

		JOIN t_room_info
		r
		ON sr.ri_id = r.ri_id
		AND sr.si_id = r.si_id

		JOIN t_stay_info_detail
		sid
		ON sr.si_id = sid.si_id

		LEFT JOIN t_room_photo rp
		ON sr.ri_id =
		rp.ri_id
		AND sr.si_id = rp.si_id
		AND rp.sp_idx = 0

		WHERE sr.sr_id =
		#{srId}
		AND ROWNUM = 1
	</select>



	<!-- 중복 예약 체크 -->
	<select id="checkDuplicateReservation" resultType="int">
  <![CDATA[
    SELECT COUNT(*)
    FROM t_stay_reservation
    WHERE si_id = #{siId}
      AND ri_id = #{riId}
      AND sr_status IN ('a', 'd')
      AND (
        sr_checkin < #{checkout}
        AND sr_checkout > #{checkin}
      )
  ]]>
	</select>

	<select id="selectReservationForCancel"
		resultType="com.hotel.domain.ReservationCancelCheckVO">
		SELECT
		sr.sr_id AS srId,
		sr.mi_id AS miId,
		sr.sr_email AS
		srEmail,
		sr.sr_checkin AS srCheckin,
		sr.sr_status AS srStatus,
		si.si_name AS siName
		FROM t_stay_reservation sr
		JOIN t_stay_info si ON
		sr.si_id =
		si.si_id
		WHERE sr.sr_id = #{srId, jdbcType=VARCHAR}
	</select>

	<update id="cancelReservation">
		UPDATE t_stay_reservation
		SET sr_status = 'c',
		sr_cancledate = SYSDATE, sr_paymentstatus = 'c'
		WHERE sr_id = #{id}
	</update>


</mapper>
