<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotel.mapper.StayMapper">

	<!-- 숙소 상세 조회 -->
	<select id="selectStayInfo" resultType="com.hotel.domain.StayVO">
		SELECT
		si_id AS siId,
		si_name AS siName,
		si_desc AS siDesc,
		si_loca AS siLoca,
		lc_id AS lcId,
		si_book AS siBook,
		si_review AS siReview,
		si_minperson AS siMinperson,
		si_maxperson AS siMaxperson,
		si_minprice AS siMinprice,
		si_extra AS
		siExtra,
		si_peak AS siPeak,
		si_off AS siOff,
		si_discount AS siDiscount,
		si_show AS siShow,
		si_delete AS siDelete,
		si_date AS siDate
		FROM
		t_stay_info
		WHERE si_id = #{siId}
	</select>

	<select id="selectStayDetail"
		resultType="com.hotel.domain.StayDetailVO">
		SELECT
		si_id AS siId,
		si_notice AS siNotice,
		si_desc1 AS
		siDesc1,
		si_desc2 AS siDesc2,
		si_feat1 AS siFeat1,
		si_feat2 AS siFeat2,
		si_feat_title1 AS siFeatTitle1,
		si_feat_title2 AS siFeatTitle2,
		si_address AS siAddress,
		si_addrdesc AS siAddrdesc,
		si_phone AS siPhone,
		si_email AS siEmail,
		si_instagram AS siInstagram,
		si_bizname AS
		siBizname,
		si_biznum AS siBiznum,
		si_ceo AS siCeo,
		si_pet AS siPet,
		si_parking AS siParking,
		si_food AS siFood,
		si_checkin AS siCheckin,
		si_checkout AS siCheckout
		FROM t_stay_info_detail
		WHERE si_id = #{siId}
	</select>
	<!-- 숙소 상세 조회 끝 -->

	<!-- 숙소에 연결된 객실 목록 조회 -->
	<select id="getRoomsByStayId"
		resultType="com.hotel.domain.RoomVO">
		SELECT
		ri_id AS riId,
		si_id AS siId,
		ri_type AS riType,
		ri_name AS riName,
		ri_desc AS riDesc,
		ri_person AS riPerson,
		ri_maxperson AS riMaxperson,
		ri_area AS riArea,
		ri_bed AS riBed,
		ri_bedcnt AS riBedcnt,
		ri_price AS
		riPrice,
		ri_show AS riShow,
		ri_delete
		AS riDelete,
		ri_date AS riDate,
		ri_bedroom AS riBedroom,
		ri_bathroom AS
		riBathroom
		FROM
		t_room_info
		WHERE si_id = #{siId}
	</select>

	<!-- 숙소 편의시설 목록 조회 -->
	<select id="getFacilitiesByStayId"
		resultType="com.hotel.domain.FacilityVO">
		SELECT f.fi_id AS fiId, f.fi_name AS fiName, f.fi_icon AS
		fiIcon
		FROM
		t_facility_info f
		JOIN
		t_stay_facility_rel sfr ON f.fi_id =
		sfr.fi_id
		WHERE sfr.si_id =
		#{siId}
	</select>


	<!-- 특정 지역(lc_id) 숙소 조회 -->
	<select id="selectStayListByLcId"
		resultType="com.hotel.domain.StayVO">
		SELECT
		s.si_id AS siId,
		s.si_name AS siName,
		s.si_loca AS
		siLoca,
		s.si_minprice
		AS siMinprice,
		s.si_discount AS siDiscount,
		(
		SELECT
		sp_url
		FROM t_stay_photo
		WHERE si_id = s.si_id
		AND sp_idx = 0
		AND ROWNUM =
		1
		) AS spUrl
		FROM t_stay_info s
		WHERE s.lc_id = #{lcId}
		AND s.si_show =
		'1'
		ORDER BY s.si_date DESC
	</select>



	<!-- 전체 랜덤 숙소 조회 -->
	<select id="selectRandomStayList"
		resultType="com.hotel.domain.StayVO">
		SELECT
		s.si_id AS siId,
		s.si_name AS siName,
		s.si_loca AS
		siLoca,
		s.si_minprice
		AS siMinprice,
		s.si_discount AS siDiscount,
		(
		SELECT
		sp_url
		FROM t_stay_photo
		WHERE si_id = s.si_id
		AND sp_idx = 0
		AND ROWNUM =
		1
		) AS spUrl
		FROM t_stay_info s
		WHERE s.si_show = '1'
		ORDER BY
		DBMS_RANDOM.VALUE
	</select>





	<!-- admin insert 시작 -->
	<!-- 지역 목록 조회 -->
	<select id="getAllLocations"
		resultType="com.hotel.domain.LocationCategoryVO">
		SELECT lc_id AS lcId, lc_name AS lcName, lc_id AS lcId
		FROM
		t_location_category ORDER BY lc_id
	</select>

	<!-- 편의시설 목록 조회 -->
	<select id="getAllFacilities"
		resultType="com.hotel.domain.FacilityVO">
		SELECT fi_id AS fiId, fi_name AS fiName FROM
		t_facility_info ORDER BY fi_id
	</select>

	<!-- 숙소 기본 정보 등록 -->
	<insert id="insertStayInfo"
		parameterType="com.hotel.domain.StayVO">
		INSERT INTO t_stay_info (
		si_name, si_desc, si_loca,
		lc_id,
		si_book, si_review, si_minperson, si_maxperson, si_minprice,
		si_extra, si_peak, si_off, si_discount,
		si_show, si_delete, si_date
		)
		VALUES (
		#{siName}, #{siDesc}, #{siLoca}, #{lcId},
		#{siBook},
		#{siReview}, #{siMinperson}, #{siMaxperson}, #{siMinprice},
		#{siExtra}, #{siPeak}, #{siOff}, #{siDiscount},
		#{siShow},
		#{siDelete},
		SYSDATE
		)
	</insert>

	<!-- 가장 최근 siId -->
	<select id="getLastInsertId" resultType="int">
		SELECT MAX(si_id) FROM
		t_stay_info
	</select>

	<!-- 숙소 상세 설명 등록 -->
	<insert id="insertStayDetail"
		parameterType="com.hotel.domain.StayDetailVO">
		INSERT INTO t_stay_info_detail (
		si_id, si_notice,
		si_desc1, si_desc2, si_feat1, si_feat2,
		si_feat_title1, si_feat_title2,
		si_address, si_addrdesc, si_phone, si_email, si_instagram,
		si_bizname,
		si_biznum, si_ceo,
		si_pet, si_parking, si_food, si_checkin, si_checkout
		) VALUES (
		#{siId}, #{siNotice, jdbcType=VARCHAR}, #{siDesc1},
		#{siDesc2}, #{siFeat1}, #{siFeat2},
		#{siFeatTitle1},
		#{siFeatTitle2},
		#{siAddress}, #{siAddrdesc}, #{siPhone},
		#{siEmail}, #{siInstagram},
		#{siBizname}, #{siBiznum}, #{siCeo},
		#{siPet}, #{siParking}, #{siFood},
		#{siCheckin}, #{siCheckout}
		)
	</insert>


	<!-- 숙소-편의시설 매핑 등록 -->
	<insert id="insertFacilityRel">
		INSERT INTO t_stay_facility_rel (si_id, fi_id)
		VALUES
		(#{siId}, #{fiId})
	</insert>

	<!-- 이미지 insert -->
	<insert id="insertStayPhoto"
		parameterType="com.hotel.domain.PhotoVO">
		INSERT INTO t_stay_photo (si_id, ri_id, sp_idx, sp_url)
		VALUES (#{siId}, #{riId, jdbcType=NULL}, #{spIdx}, #{spUrl})
	</insert>

	<!-- admin insert 끝 -->


	<select id="getAllStays" resultType="com.hotel.domain.StayVO">
		SELECT
		si_id AS siId,
		si_name
		AS siName,
		si_loca AS siLoca,
		si_date AS siDate
		FROM
		t_stay_info
		ORDER BY
		si_id DESC
	</select>

	<select id="getStayPhotos" resultType="com.hotel.domain.PhotoVO">
		SELECT sp_idx AS spIdx,
		sp_url AS spUrl, si_id AS siId, ri_id AS riId
		FROM t_stay_photo
		WHERE
		si_id = #{siId}
		ORDER BY sp_idx
	</select>

	<update id="updateStay">
		UPDATE t_stay_info
		SET
		si_name = #{siName},
		si_loca =
		#{siLoca},
		si_desc = #{siDesc},
		si_minperson = #{siMinperson},
		si_maxperson = #{siMaxperson},
		si_minprice = #{siMinprice},
		si_extra =
		#{siExtra},
		si_peak = #{siPeak},
		si_off = #{siOff},
		si_discount =
		#{siDiscount},
		si_show = #{siShow}
		WHERE si_id = #{siId}
	</update>

	<update id="updateStayDetail">
		UPDATE t_stay_info_detail
		SET
		si_notice = #{siNotice},
		si_desc1 = #{siDesc1},
		si_desc2 = #{siDesc2},
		si_feat1 = #{siFeat1},
		si_feat2 = #{siFeat2},
		si_address = #{siAddress},
		si_addrdesc =
		#{siAddrdesc},
		si_phone = #{siPhone},
		si_email =
		#{siEmail},
		si_instagram
		= #{siInstagram},
		si_bizname = #{siBizname},
		si_biznum = #{siBiznum},
		si_ceo = #{siCeo},
		si_pet = #{siPet},
		si_parking = #{siParking},
		si_food
		= #{siFood},
		si_checkin =
		#{siCheckin},
		si_checkout = #{siCheckout},
		si_feat_title1 =
		#{siFeatTitle1},
		si_feat_title2 = #{siFeatTitle2}
		WHERE
		si_id = #{siId}
	</update>

	<delete id="deleteFacilitiesByStayId">
		DELETE FROM t_stay_facility_rel WHERE si_id = #{siId}
	</delete>

	<insert id="insertFacility">
		INSERT INTO t_stay_facility_rel (si_id, fi_id)
		VALUES
		(#{siId}, #{fiId})
	</insert>

	<select id="existsStayPhoto" resultType="boolean"
		parameterType="com.hotel.domain.PhotoVO">
		SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
		FROM t_stay_photo
		WHERE
		si_id = #{siId}
		AND sp_idx = #{spIdx}
		<choose>
			<when test="riId == null">
				AND ri_id IS NULL
			</when>
			<otherwise>
				AND ri_id = #{riId}
			</otherwise>
		</choose>
	</select>


	<update id="updateStayPhoto"
		parameterType="com.hotel.domain.PhotoVO">
		UPDATE t_stay_photo
		SET sp_url = #{spUrl}
		WHERE si_id = #{siId}
		AND
		sp_idx = #{spIdx}
		<choose>
			<when test="riId == null">
				AND ri_id IS NULL
			</when>
			<otherwise>
				AND ri_id = #{riId}
			</otherwise>
		</choose>
	</update>


</mapper>