@charset "UTF-8";
.mypage-page {
	width: 1100px;
	margin: 0 auto;
}

.mypage-header {
	width: 100%;
	padding: 6rem 0 5rem;
	margin-bottom: 4rem;
	border-bottom: 3px solid #000;
	text-align: center;
}

.mypage-header h2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.mypage-submenu {
	width: 25%;
	float: left;
}

.mypage-submenu .active {
	font-weight: 700;
}

.mypage-submenu .active:after {
	content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #000;
    margin: 0 0 4px 10px;
}

.mypage-submenu a {
	line-height: 3;
	font-size: 0.875rem;
	display: inline-block;
}

.mypage-main {
	width: 75%;
	float: right;
}

